
.profile-picture {
  width: 200px; 
  height: auto;
  border-radius: 10%; 
    margin-right: 50px;
      margin-bottom: 50px;
}


.App {
  width: 8.5in;
 height: 11in; 
  margin: auto; 
  padding: 1in; 
  font-family: Arial, sans-serif; 
  border-style: solid;
}



.ResumeHeader {
  margin-bottom: 20px;
 display: flex;
    flex-direction: row;

}

.ResumeSection {
  margin-bottom: 20px;
    border-bottom: 2px solid black;

}

.SkillList {
  margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.ContactInfo {
  margin-bottom: 20px;

}

.ResumeSection ul li {
  margin-bottom: 15px; 
}

.SkillList ul li {
  margin-bottom: 15px;

}